body {
  margin: 0;
  font-family: serif;
  background: #fff6c9;
}

.site-header {
  position: sticky;
  top: 0;
  background: #fff6c9;
  padding: 25px;
  text-align: center;
  font-size: 36px;
  color: hotpink;
  z-index: 1000;
}

.container {
  display: flex;
  padding: 60px;
  gap: 60px;
}

.image img {
  width: 500px;
}

.text {
  max-width: 400px;
}

.recent {
  font-size: 12px;
  letter-spacing: 2px;
}

.date {
  color: orange;
  font-size: 12px;
}

.desc {
  color: blue;
}

.article {
  padding: 80px 60px;
}
