/* Highlighted header */
.header-wrapper {
  position: relative;
  display: inline-block;
  line-height: 1.2;
}

.highlight {
  display: inline-block;
  background: linear-gradient(120deg, rgba(57, 255, 20, 0.4) 0%, rgba(57, 255, 20, 0.3) 100%);
  background-size: 100% 100%;
  mix-blend-mode: multiply;
  padding: 0.2em 0.4em;
}

.highlight span {
  position: relative;
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.5rem; /* adjust to match your design */
}

.header-wrapper img {
  position: absolute;
  width: 80px; /* same as w-20 */
  height: 80px; /* same as h-20 */
  top: 15px;
  left: calc(100% - 15px);
}
